# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store

Debug
Release
build
example1
*.a

/SQLiteCpp.sln
*.ncb
*.suo
*.user
*sdf
*.vc*
*~
doc
core
*ipch
.settings/

CMakeCache.txt
CMakeFiles
*.cmake
*.dir
Testing
Win32

SQLiteCpp_example1
SQLiteCpp_tests

!FindSQLiteCpp.cmake
